<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link href="{% static 'OnlineVotation/css/baseStyle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'OnlineVotation/boot/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'OnlineVotation/icons/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet" type="text/css" >

{% block links %}

 {% endblock %}

</head>
<body>
<div class="container">
    {# Header #}
    <div class="header container">
        <div class="row">
            <div class="col-4">
                <a href="{% url 'onlineVotation:index' %}">
                    Back to main menu
                </a>
            </div>

            <div class="col-2 offset-5 align-content-end">
                <a href="{% url 'onlineVotation:index' %}">
                    Settings
                    <span class="oi oi-wrench"></span>
                </a>
            </div>
            <div class="col-1 align-content-start">
                <a href="{% url 'onlineVotation:index' %}">
                    Help
                    <span class="oi oi-question-mark"></span>
                </a>
            </div>
        </div>
    </div>

    {# Content #}
    {% block content %}

    {% endblock %}


    {# Footer #}
{#    <div class="footer">#}
{#        <div>#}
{#            <p>Footer</p>#}
{#        </div>#}
{#    </div>#}
</div>
</body>
</html>