<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OVLogin</title>
    {% load static %}
    <link href="{% static 'OnlineVotation/css/habitant/habitantStyle.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'OnlineVotation/boot/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" >
    <link href="{% static 'OnlineVotation/icons/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet" type="text/css" >
</head>
<body>

<div class="loginContainer">
    <form action="POST" class="loginForm">
        <input type="text" placeholder="Reference number" title="Reference number from email">
        <input type="text" placeholder="DNI/NIE" title="Example: DNI - 12345678X">
        <input type="text" placeholder="Password" title="Should have at least 9 characters">
        <input type="submit" value="Login">
    </form>
</div>

</body>
</html>