body {
    background-color: #6c757d !important;
}

.loginContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.loginContainer .loginForm {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
}