{% extends "OnlineVotation/shared/base.html" %}

{% load static %}

{% block title %}
    Habitant
{% endblock %}

{% block links %}
    <link href="{% static 'OnlineVotation/css/newUser/newUserStyle.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'OnlineVotation/js/newUserScript.js' %}" rel="script" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div>
{#        <form action="{% url 'onlineVotation:registerNewUser' %}" method="post" class="loginForm">#}
        <form action="{% url 'onlineVotation:registerNewUser' %}" method="post">
            {% csrf_token %}
{#            <div>#}
{#                <label for="your_name"></label>#}
{#                <input type="text" name="your_name" id="your_name" placeholder="Name" maxlength="100" required>#}
{#            </div>#}
            <table>
                {{ form.as_table }}
            </table>
{#            <input type="text" name="surname" placeholder="SurName">#}
{#            <input type="text" name="phoneNumber" placeholder="Phone number">#}
{#            <input type="text" name="email" placeholder="Email">#}
{#            <select name="autonomousComunity" id="autonomousComunity">#}
{#                <option value="1">Andalucia</option>#}
{#                <option value="2">Aragon</option>#}
{#                <option value="3">Galicia</option>#}
{#            </select>#}
{#            <select name="province" id="province">#}
{#                <option value="1">Malaga</option>#}
{#                <option value="2">Sevilla</option>#}
{#                <option value="3">Granada</option>#}
{#            </select>#}
{#            <input type="text" name="birthday" placeholder="Birthday" onfocus="(this.type='date')" onblur="(this.type='text')">#}
{#            <input type="password" name="pass" placeholder="Password">#}
{#            <input type="password" name="repeatPass" placeholder="Repeat password">#}
            <div class="formBtnContainer">
                <input type="submit" value="Singin">
                <input type="button" value="Reset">
            </div>
        </form>

    </div>
{% endblock %}