<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link href="{% static 'OnlineVotation/css/homeStyle.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'OnlineVotation/boot/css/bootstrap.min.css' %}" >
</head>
<body>
<div class="container mainContainer">
    <div class="row align-items-center mainContainerRow">
            <a class="col-sm" href="{% url 'onlineVotation:habitant' %}">
                Habitant
            </a>
            <a class="col-sm" href="{% url 'onlineVotation:organizer' %}">
                Organizer
            </a>
            <a class="col-sm" href="{% url 'onlineVotation:admin' %}">
                Admin
            </a>
            <a class="col-sm" href="{% url 'onlineVotation:newUser' %}">
                New User
            </a>
    </div>
</div>


</body>
</html>