.loginForm {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-row-gap: 20px;
}

.formBtnContainer {
    grid-column: 1 / 4;
    text-align: center;
}

.errorlist {
    color: darkred;
    list-style: none;
}