:root {
    --default-link-color: #fff;
}

body {
    background-color: #6c757d !important;
}

.header {
    padding: 20px 0px;
}

.header a {
    color: var(--default-link-color);
    transition: transform .2s;
}
.header a:hover {
    text-decoration: none;
    color: var(--default-link-color);
    opacity: 0.5;
}

.header a img {
    width: 13px;
    height: 13px;
}