body {
    background-color: #6c757d !important;
}

.mainContainer, .mainContainer .row {
    height: 100vh;
}

.mainContainerRow a {
    background-color: #1E204C;
    padding: 100px 0;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
}

.mainContainerRow a {
    color: #fff;
    transition: transform .2s;
}

.mainContainer .mainContainerRow a:hover {
    transform: scale(1.05);
    opacity: 0.5;
    color: #fff;
    text-decoration: none;
}

