{% extends "OnlineVotation/shared/base.html" %}

{% load static %}

{% block title %}
    Habitant
{% endblock %}

{% block content %}
    <div>
        <p>Main Admin page</p>
    </div>
{% endblock %}